html{
    display: block;
    margin: 0;
    padding: 0;
    border:0;
    font: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}
header{
font-size: small;
}
ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}
li a {
    text-decoration: none;
}
.topbar li{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
ul .signin{
    border-radius: 1px;
    background-color: #3b80f7;
    color: white;
    padding: 10px;
}
.topbar a:hover{
    text-decoration: underline;
    opacity: .70;
}
#main{
    display: block;
    text-align: center;
    padding-top: 200px;
}
#searchbar{
    background-image: url(maglass.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 3%;
}
input {
    width: 600px;
    border-radius: 25px;
    height: 18px;
    padding: 10px;
}
.buttons{
    padding: 15px;
}
button{
    background-color: lightgray;
    padding: 5px 25px;
    display: inline-block;
    border: 1px solid lightgray;
    margin-left: 20px;
}
button:hover{
    cursor: pointer;
    opacity: .8;
}
nav .languages{
    text-align: center;
}
.languages li{
    display: inline-block;
}
.languages li a:hover{
    text-decoration: underline;
}
#footer1{
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    font-size: small;
    align-items: center;
    bottom: 40px;
    border: 0.1px solid rgb(194, 191, 191);
    background-color:lightgray;
    height: 40px;
    width: 100%;
    color: gray;
    padding-left: 15px;
}
.footers{
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: small;
    align-items: center;
    bottom: 0px;
    border: 0.1px solid rgb(194, 191, 191);
    background-color:lightgray;
    height: 40px;
    width: 100%;
    color: gray;
}
#footer3{
    justify-self: end;
    padding-right: 20px;
}
#footer3 a{
    color: gray;
    text-decoration: none;
    padding: 5px;
}
#footer3 a:hover{
    text-decoration: underline;
}
#footer2{
    padding-left: 15px;
}
#footer2 a{
    color: gray;
    text-decoration: none;
    padding: 5px;
}
#footer2 a:hover{
    text-decoration: underline;
}